@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Doki Doki';
  src: url('/assets/fonts/DokiDokiFantasia.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@layer base {
  :root {
    --background: 336 50% 5%;
    --foreground: 336 5% 90%;
    --card: 336 50% 0%;
    --card-foreground: 336 5% 90%;
    --popover: 336 50% 5%;
    --popover-foreground: 336 5% 90%;
    --primary: 336 78% 44.5%;
    --primary-foreground: 0 0% 100%;
    --secondary: 336 30% 10%;
    --secondary-foreground: 0 0% 100%;
    --muted: 298 30% 15%;
    --muted-foreground: 336 5% 60%;
    --accent: 298 30% 15%;
    --accent-foreground: 336 5% 90%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 336 5% 90%;
    --border: 336 30% 18%;
    --input: 336 30% 18%;
    --ring: 336 78% 44.5%;
    --primary-bright: 336, 76%, 61%;
    --radius: 0.25rem;
    --shadow-color: hsl(var(--primary));
  }

  * {
    @apply m-0 box-border list-none scroll-smooth p-0 antialiased;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    @apply custom-scrollbar min-h-screen font-inter text-white;
    /* background-image: url('/assets/images/triangulate.png'); */
    background-size: cover; /* Cover the entire viewport */
    background-position: center; /* Center the image in the viewport */
    background-repeat: no-repeat; /* Do not repeat the image */

    /* For Fonts */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    font-feature-settings:
      'liga' 1,
      'kern' 1;
  }

  p {
    line-height: 1.2; /* Adjust this value as needed */
    vertical-align: middle;
    font-feature-settings:
      'pnum' 1,
      'lnum' 1; /* Add font features if necessary */
  }

  @font-face {
    font-family: 'Noto Sans JP';
    src: url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@900&display=swap')
      format('woff2');
    font-weight: 900;
    font-display: swap;
  }
}

@layer utilities {
  /* UTILITIES */
  .flex-around {
    @apply flex items-center justify-around;
  }

  .flex-center {
    @apply flex items-center justify-center;
  }

  .flex-between {
    @apply flex items-center justify-between;
  }

  .flex-start {
    @apply flex items-center justify-start;
  }

  .flex-end {
    @apply flex items-center justify-end;
  }

  /* ? Customize appearance of scrollbar START */
  .custom-scrollbar::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    border-radius: 4px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: hsl(var(--popover)); /* Using your accent color */
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: hsl(var(--primary) / 35%); 
    border-radius: 3px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: hsl(var(--primary) / 65%); 

  }

  /* Specific scrollbar styling for the ScrollArea with the white thumb */
  .lyrics-scroll-area::-webkit-scrollbar-thumb {
    background: white; /* Make the scrollbar thumb white */
    border-radius: 40px; /* You can adjust this if necessary */
  }

  .lyrics-scroll-area::-webkit-scrollbar-thumb:hover {
    background: #f0f0f0; /* Light gray on hover, or change as needed */
  }
  /* ? Customize appearance of scrollbar END */

  /* TODO Used in TopBar & PlayerBottomBar - For animation when disappearing? Figure this out START */
  .controls {
    z-index: 999;
    transition: opacity 1.5s ease;
    opacity: 1; /* Visible */
  }

  .controls.hidden {
    opacity: 0; /* Hidden */
    pointer-events: none; /* Prevent interaction when hidden */
  }
  /* TODO Used in TopBar & PlayerBottomBar - For animation when disappearing? Figure this out END */

  .no-select {
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
  }

  .font_noto_sans_reg {
    font-family: 'Noto Sans', sans-serif !important;
  }

  .font_noto_sans_jp_reg {
    font-family: 'Noto Sans JP', sans-serif !important;
  }

  .font_noto_sans_jp_black_900 {
    font-family: 'Noto Sans JP', sans-serif !important;
    font-weight: 900 !important;
  }

  .font_doki_doki {
    font-family: 'Doki Doki', sans-serif !important;
    color: white;
  }
}

@layer components {
  /* SHADCN COMPONENTS */
  /* ? ShadCN css START */
  /* Form */
  .shad-form_label {
    @apply text-white !important;
  }

  .shad-form_message {
    @apply text-red !important;
  }

  .shad-input {
    @apply h-12 border-none bg-dark-4 ring-offset-light-3 placeholder:text-light-4 focus-visible:ring-1 focus-visible:ring-offset-1 !important;
  }

  .shad-textarea {
    @apply h-36 rounded-xl border-none bg-dark-3 ring-offset-light-3 focus-visible:ring-1 focus-visible:ring-offset-1 !important;
  }

  /* Button */
  .shad-button_primary {
    @apply flex gap-2 bg-primary-500 text-light-1 hover:bg-primary-500 !important;
  }

  .shad-button_dark_4 {
    @apply flex h-12 gap-2 bg-dark-4 px-5 text-light-1 !important;
  }

  .shad-button_ghost {
    @apply flex items-center justify-start gap-4 hover:bg-transparent hover:text-white !important;
  }

  /* ? ShadCN css END */

  /* ! My Custom CSS stuff */

  /* TODO: Check whether this is a better overlay for lyrics START */
  .overlay-lyrics-text {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(1px);
    background: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.7) 0%,
      rgba(0, 0, 0, 0.5) 40%,
      rgba(0, 0, 0, 0.2) 70%,
      rgba(0, 0, 0, 0) 100%,
      rgba(0, 0, 0, 0.2) 70%,
      rgba(0, 0, 0, 0.7) 0%
    );
    /* border-radius: 10px; */
    padding: 10px;
  }
  /* TODO: Check whether this is a better overlay for lyrics END */

  /* ? Used to remove focus ring from buttons - think it's counter UX - see if want to use */
  .invisible-ring {
    --tw-ring-color: rgba(0, 0, 0, 0); /* Set to fully transparent */
    --tw-ring-offset-color: rgba(0, 0, 0, 0); /* Set to fully transparent */
  }

  /* //? Focus ring related

/* a subtle focus style for keyboard-input elements */
  .text-input:focus {
    outline: 1px solid #aaa;
  }

  /* no focus style for non-keyboard-inputs elements */
  button:focus,
  select:focus {
    outline: none;
  }

  /* and for keyboard users, override everything with
   a Big Blue Border when focused on any element */
  body.user-is-tabbing *:focus {
    outline: 2px solid #7aacfe !important; /* for non-webkit browsers */
    outline: 5px auto -webkit-focus-ring-color !important;
  }

  /* ? Marquee - Moving Text on hover START */
  .marquee {
    white-space: nowrap;
    overflow: hidden;
    position: relative;
  }

  .marquee span {
    display: inline-block;
    transition: transform 0.3s ease;
  }

  .playlist-item:hover .marquee span {
    animation: marquee 20s linear infinite;
  }

  @keyframes marquee {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(-100%, 0);
    }
  }

  /* ? Marquee - Moving Text on hover END */

  /* ? Used to prevent an element from being selectable - e.g. overlays */
  .unselectable {
    pointer-events: none;
    user-select: none; /* Standard syntax */
    -webkit-user-select: none; /* Safari/Chrome/Opera */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
  }

  .unhighlightable {
    user-select: none; /* Standard syntax */
    -webkit-user-select: none; /* Safari/Chrome/Opera */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
  }

  .text-comparison-glow {
    box-shadow:
      0 0 10px theme('colors.indigo.500'),
      0 0 20px theme('colors.indigo.500');
  }

  /* ? Used for lyrics display outline - amethyst glow */
  .font-outline-1 {
    text-shadow: 0 0 10px var(--shadow-color);
  }
  .font-outline-4 {
    text-shadow: 0 0 4px var(--shadow-color);
  }

  .lyric-text-line.font-outline-1 {
    text-shadow: 0 0 10px hsl(336 78% 44.5%) !important;
  }

  /* Make the font more specific */
  .lyric-text-line.font_noto_sans_jp_black_900 {
    font-family: 'Noto Sans JP', sans-serif !important;
    font-weight: 900 !important;
  }

  /* ? Used for spacing of kanji characters */
  .lyric-text-line {
    position: relative;
    z-index: 1;
    letter-spacing: var(--kanji-spacing, 0);
    will-change: contents;
  }

  .lyric-text-line p {
    line-height: 1;
  }

  /* ? Customize appearance of furigana on top of kanji characters START */
  .lyric-text-line ruby {
    display: inline-flex;
    flex-direction: column-reverse;
    vertical-align: bottom;
    font-size: inherit;
    letter-spacing: var(--kanji-spacing, 0);
  }

  .lyric-text-line rb {
    display: inline-flex;
    justify-content: center;
    font-size: 1em;
  }

  /* furigana */
  .lyric-text-line ruby rt {
    transform: translateY(0.6em);
    font-size: 0.45em;
    text-align: center;
    letter-spacing: -0.04em;
    margin-top: 0;
    padding-top: 0;
    line-height: 1;
  }

  /* ? Customize appearance of furigana on top of kanji characters END */

  /* ? Apply shadow behind lyrics to make them more visible on any videos START */
  .lyric-text-line-wrapper {
    position: relative;
    display: inline-block; /* Ensure the blur wrapper only spans the text content */
  }

  .lyric-text-line-wrapper::before {
    content: '';
    position: absolute;
    top: -0.1em; /* Adjust as needed */
    bottom: -0.1em; /* Adjust as needed */
    left: -0.1em; /* Adjust as needed */
    right: -0.1em; /* Adjust as needed */
    background: rgb(0, 0, 0, 0.15);
    filter: blur(12px); /* Increase blur effect */
    z-index: -1; /* Place it behind the text */
    border-radius: 15px; /* Rounded corners */
    padding: 0.1em;
  }
  /* ? Apply shadow behind lyrics to make them more visible on any videos END */

  /* ? For more performant and smooth lyrics display and transitions */
  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes fadeOutDown {
    from {
      opacity: 1;
      transform: translateY(0);
    }
    to {
      opacity: 0;
      transform: translateY(10px);
    }
  }

  .lyric-container {
    transition:
      opacity 0.18s ease-out,
      transform 0.18s ease-out;
  }

  .fade-in {
    animation: fadeInUp 0.2s ease-out forwards;
  }

  .fade-out {
    animation: fadeOutDown 0.1s ease-out forwards;
  }

  .lyric-text-line {
    transition:
      opacity 0.18s ease-out,
      transform 0.18s ease-out;
  }
}
